.opis-parasol{
    display: block;
    font-size: 16px;
    font-family: Roboto;
    text-align: center;
    justify-content: center;
    word-wrap: break-word;
    margin-left: 60px;
    margin-right: 60px;
    max-width: 100%;
    
    
}

.motto{
    font-family: Roboto;
    text-decoration: none;
    padding: 40px;
    max-width: 100%;
    

}

   