.opis-parasol{
    display: block;
    font-size: 18px;
    font-family: Roboto;
    text-align: justify;
    justify-content: left;
    word-wrap: break-word;
    margin-left: 60px;
    margin-right: 60px;
    max-width: 100%;
    
    
}

.onas{
    font-family: Roboto;
    text-decoration: none;
    padding: 0px;
    max-width: 100%;
    margin-left: 60px;
    

}

.MPS{
    text-align: center;
    margin-left: 60px;


    
}

   