
<div>
  <h2>
      <p class="motto">O Nas</p>
  </h2>
    
</div>

<div class="przyklad">

    <p class="opis-parasol">Fundacja „Parasol” jest organizacją pozarządową NGO, statutowo zajmującą się edukacją w tym głównie edukacją osób 50+. FP realizuje szkolenia z zakresu: kursów językowych,
        komputerowych oraz psychologicznych, kurs pilota wycieczek.
        Na stałe współpracujemy z  Centrum Inicjatyw Senioralnych w Poznaniu, która nadała Akademii 50+ tytuł miejsca przyjaznego seniorom – nadany w 2012 r. przez Prezydenta Miasta Poznania.
        Fundacja Parasol działa w obszarze doradztwa- zawodowego i rozwoju zaw., wspomaga osoby bierne zawodowo, bezrobotne i pracujące na rynku pracy w wielkopolsce. Współpracujemy z przedsiębiorcami i lokalnymi władzami na rzecz aktywizacji os. biernych zawodowo – świadczy pomoc prawną, doradczą (w tym doradztwo zawodowe) i psychologiczną dla os. zagrożonych wykluczeniem społecznym.
        Fundacja Parasol ma wpis zarówno do do rej. Instytucji szkoleniowych oraz do agencji zatrudnienia – jest podmiotem wyspecjalizowanym w aktywizacji zawodowej.
        Fundacja Parasol w roku 2017 została wpisana do ewidencji szkół i placówek niepublicznych Wydziału Oświaty Urzędu Miasta Poznania (nr 1/2017) i prowadzi działalność jako Placówka Kształcenia Ustawicznego Fundacja Parasol. </p>
    
    </div>

    <div>
        <img class='MPS' src="assets/images/panel/MPS_logo.png">
    
    </div>