<img class="parasole" src="assets/images/home/parasole2.png" a routerLink="/home">
<br>
<nav>
    <a routerLink="" routerLinkActive="active"[routerLinkActiveOptions]="{exact: true}"> <img src="assets/images/panel/home.png"></a>
    <a routerLink="/about" routerLinkActive="active"> <img src="assets/images/panel/onas.png"></a>
    <a routerLink="/gallery" routerLinkActive="active"> <img src="assets/images/panel/galeria.png"></a>
    <a routerLink="/contact" routerLinkActive="active"> <img src="assets/images/panel/kontakt.png"></a>
  </nav>

<router-outlet></router-outlet>





