<img class="parasole" src="assets/images/home/parasolev3.png" a routerLink="/home">
<br>
<nav>
    <a routerLink="" routerLinkActive="active"[routerLinkActiveOptions]="{exact: true}"> <img src="assets/images/panel/home1.png"width="140" height="140"></a>
    <a routerLink="/about" routerLinkActive="active"> <img src="assets/images/panel/about.png" width="140" height="140"></a>
    <a routerLink="/gallery" routerLinkActive="active"> <img src="assets/images/panel/gallery.png"width="140" height="140"></a>
    <a routerLink="/english" routerLinkActive="active"> <img src="assets/images/panel/english.png"width="140" height="140"></a>
    <a routerLink="/computers" routerLinkActive="active"> <img src="assets/images/panel/computer.png"width="140" height="140"></a>
    <a routerLink="/contact" routerLinkActive="active"> <img src="assets/images/panel/contact.png"width="140" height="140"></a>
  </nav>

<router-outlet></router-outlet>





