@import url('https://fonts.googleapis.com/css?family=Ubuntu');
@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');
h1 {
    font-family: 'Open Sans', sans-serif;
}
p {
    font-family: 'Open Sans', sans-serif;
}
nav {
    font-size: 24px;
    font-family: 'Open Sans', sans-serif;
    text-align: center;
    text-decoration: none;
    padding: 40px
}

nav a.active {
    color: black;
    padding: 40px
}

nav a {
    padding: 40px;
    text-decoration: none;
    color: grey
}

.logo-zenit{
    max-width: 500px;
}