<div>
  <h2>
      <p class="onas">Home</p>
  </h2>
    
</div>
<br>
<carousel class='text-center'>
    <slide>
      <img class='img-carousel-size' src="assets/images/home/1home.png" alt="first slide" style="display: block; width: 100%;">
      <div class="carousel-caption d-none d-md-block">
        <h3>Kursy komputerowe</h3>
        <button routerLink="/about" routerLinkActive="active">Więcej</button>
      </div>
    </slide>
    <slide>
      <img class='img-carousel-size' src="assets/images/home/2home.jpg" alt="second slide" style="display: block; width: 100%;">
      <div class="carousel-caption d-none d-md-block">
        <h3>Kursy językowe</h3>
        <button>Więcej</button>
      </div>
    </slide>
    <slide>
      <img class='img-carousel-size' src="assets/images/home/3home.jpg" alt="third slide" style="display: block; width: 100%;">
      <div class="carousel-caption d-none d-md-block">
        <h3>Kurs angielskiego w Anglii</h3>
        <button>Więcej</button>
      </div>
    </slide>
  </carousel>
  <br>
  <div>
      <h1>
          <p class="motto">To improve is to change. To be perfect is to change often</p>
      </h1>
        
    </div>
  