<div>
  <h2>
      <p class="onas">Home</p>
  </h2>
    
</div>
<br>
<div>
    <h1>
        <p class="motto">To improve is to change. To be perfect is to change often</p>
    </h1>
      
  </div>
<br>
<carousel class='text-center'>
    <slide>
      <img class='img-carousel-size' src="assets/images/home/computers.png" alt="first slide" style="display: block; width: 100%;">
      <div class="carousel-caption d-none d-md-block">
        <h3>Kursy komputerowe dla osób 50+</h3>
        <button routerLink="/computers" routerLinkActive="active">Więcej</button>
      </div>
    </slide>
    <slide>
      <img class='img-carousel-size' src="assets/images/home/englishs2.png" alt="second slide" style="display: block; width: 100%;">
      <div class="carousel-caption d-none d-md-block">
        <h3>Kursy językowe dla osób 50+</h3>
        <button routerLink="/english" routerLinkActive="active">Więcej</button>
      </div>
    </slide>
    <slide>
      <img class='img-carousel-size' src="assets/images/home/pilots.png" alt="third slide" style="display: block; width: 100%;">
      <div class="carousel-caption d-none d-md-block">
        <h3>Kurs pilota wycieczek dla osób 50+</h3>
        <button routerLink="/gallery" routerLinkActive="active">Więcej</button>
      </div>
    </slide>
  </carousel>
<br>

  